<section class="top">
	<div class="container clearfix">
        <div style="height:80px ;"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="page-main-title">
					<h2>Mysore Package</h2>
                    <hr style="height:4px;border-width:0;color:red;background-color:red;margin-top: 0px;">
					<ul>
						<li><a routerLink="/" title="Home"><i class="fa fa-home"></i></a> > Mysore Package</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section >
    <div class="container"> 
        <div class="row" style="margin-top :30px;">
            <div class="col-md-9 col-sm-12">
                    <div class="item">
                        <img src="assets/images/mysore.jpg" width="100%" height="385px">
                    </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <app-enquiry></app-enquiry>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 m1233" style="margin-top:20px;">
                <h1 style="text-align: center; background: linear-gradient(to bottom, rgb(249, 4, 4) 0%,rgb(249, 142, 3) 100%);color: white;">Mysore Package</h1>
                <p>
                    Mysore is located in the foothills of the Chamundi Hills about 145.2 km (90 mi) towards the southwest of Bangalore and spread across an area of 286.05 km2 (110 sq mi). Mysore City Corporation is responsible for the civic administration of the city, which is also the headquarters of the Mysore district and the Mysore division. In November 2020, A gazetted notification was passed by the state government converting nearby census town of Hootagalli into a City Municipal Council along with four more Town Panchayats of Bhogadi, Kadakola, Rammanahalli and Srirampura, expanding the city area from 155.7 sq.km to 286.05 sq.km. This also increased the population of the urban agglomeration from 990,900 to 1,060,120. According to United Nations, Mysuru is projected to have a population of 1.162 Million in 2018, making it the second largest city in the state.
                </p>
            </div>
        </div>
    </div>
</section>


<section style="margin-bottom:50px;">
    <div class="container"> 
        <div class="row">
                <div class="col-md-3" style="margin-bottom:20px;" *ngFor="let p of packages">
                    <div style="border: 2px solid rgb(240, 59, 59); padding: 5px; box-shadow: 0 0 15px #f78888;">
                        <div class="honeymoonpic">
                            <img src="assets/images/{{p.pic}}.jpg" width="100%" height="150px">
                        </div>
                        <div>
                            <table class="table table-bordered mysore" >
                                <tbody>
                                    <tr>
                                        <th colspan="2" style="color:whitesmoke;background-color: red;">{{p.name}}</th>
                                    </tr>
                                    <tr>
                                        <td>Duration</td>
                                        <td>{{p.duration}}</td>
                                    </tr>
                                    <tr>
                                        <td>Starting</td>
                                        <td style="color:red">{{p.price}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cover</td>
                                        <td style="font-size: 11px;">{{p.cover}}</td>
                                    </tr>
                                    <tr>
                                        <td>Catagory</td>
                                        <td>FD (Min 4 Person)</td>
                                    </tr>
                                    <tr>
                                        <td>Type</td>
                                        <td style="font-size: 11px;">Deluxe Package</td>
                                    </tr>
                                    <tr>
                                        <td>FD Date</td>
                                        <td><marquee style="background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(164, 232, 195) 100%);color: red;">Book Now For Get Extra Discount</marquee></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                                <div class="butHolder" ><a href="tel:{{phone}}" class="m-btn m-btn-theme section-proposition-btn btn btn-b mt-btn btn-msg" style="margin:10px;color:#fff"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</a></div>
                                            	
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                            </div>
    </div>
</section>
