<div class="row text-center">
    <div class="col-sm-4 col-md-4">
            <div class="transport">
                <img src="assets/images/transport.jpg" height="150px">
            </div>
            <h3>Own Transport Vehicles</h3>
            <p>{{title}} provides you a wide variety of deluxe car depending upon the requirement & budget of the travellers. Taxi service is better & comfort .</p>	
        
    </div>      
    <div class="col-sm-4 col-md-4">
        <div class="network">
            <img src="assets/images/network.jpg" height="150px">
        </div>
            <h3>Wide Network</h3>
            <p>We have wide network connection width  travling places's  hotels, lodges, guest houses, resorts and other accommodation in devdarshan circuit.</p>	
        
    </div>      
    <div class="col-sm-4 col-md-4">
        <div class="mobile">
            <img src="assets/images/mobile.jpg" height="150px">
        </div>
            <h3> Mobile Messenger System </h3>
            <p> Our Prime focus is traveler satisfaction and safety, thus Mobile Messenger helps in the global incident monitoring which is an important component of this tool. </p>	
        
    </div>  
</div>
