<section >
	<div style="height:70px ;"></div>
	<div class="dashboard-top"></div>
</section>

<section class="wel">
	<div class="container"> 
		<div class="row" style="margin-top :30px;text-align: center;">
			<div class="col-md-9 center">
				<div class="heading center">
					<h1 class="dashboard-heading">Welcome To {{title}}</h1> 
					<h5 class="">we are happy to make you happier</h5>
				</div>      
				<br>
				<div class="center">
					<p style="width:100%">{{title}} helps you to plan your trips  and provides all the information of the destinations in  economical way with wide selection of our various packages which makes your tour easy &amp; happy.    We remain committed to our mission of “ creating happy travelers ”.   We arrange helicopters , bus, train, taxi or car etc. {{title}} brings all the services related to chardham yatra package in Uttarakhand under single website. We have been providing excellent services to our clients since the date of foundation. We are a premium travel agency based in Delhi and provide our best servcices all over India.</p>
					<p style="width:100%">We have our own fleet of Coaches &amp; Cars best suitable for hilly areas and also provide Transport services at very reasonable prices. Our first priority is to provide the best services to our clientele. To become one of the favored selections of our customers, we are working in a keen way. Owing to our quality services assured assortment to budget-friendly rates and keep everythings transparent with the clients, we have been applauded in the domain.</p> 
				</div>
			</div> 
			<div class="col-md-3 col-sm-12">
                <app-enquiry></app-enquiry>
            </div>
		</div>
	</div>
</section>


<section class="tour-list">
	<div class="container">
		<div class="row" style="margin-top :50px;text-align: center; ">
			<h1 class="dashboard-heading">Choose Your Tour at one place with Ease </h1>
			<h5 class="" style="margin-bottom: 35px;">{{title}} offers multiple of tours and activities for travelers in India. We have multiple of pacakages for you...  </h5>
			<table class="row">
				<td class="col-md-5 mx-auto dashboard-tour-list"><a routerLink="/chardham-helicopter-package" style="color: white;">Chardham package by helicopters</a></td>
				<td class="col-md-5 mx-auto dashboard-tour-list"><a routerLink="/kedarnath-helicopter-package" style="color: white;">Kedarnath package by helicopters</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/rajasthan-package" style="color: white;">Rajasthan package</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/kerla-package" style="color: white;">Kerla package</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/mysore-package" style="color: white;">Mysore package</a></td>
				<td class="col-md-3  dashboard-tour-list"><a routerLink="/gujrat-package" style="color: white;">Gujrat Package</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/chardham-package" style="color: white;">Chardham package</a></td>
				<td class="col-md-3 dashboard-tour-list"><a routerLink="/chardham-package" style="color: white;">Vaishno Devi package</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/chardham-package" style="color: white;">Amranth package</a></td>
				<td class="col-md-3 dashboard-tour-list"><a routerLink="/chardham-package" style="color: white;">Tirupati  package</a></td>
				<td class="col-md-3 mx-auto dashboard-tour-list"><a routerLink="/chardham-package" style="color: white;">Shirdi package</a></td>
			</table>
		</div>
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row" style="margin-top :50px;text-align: center; ">
			<div class="col-md-12 center" >
				<h1 class="dashboard-heading">Our Services </h1> 
				<h5 style="margin-bottom: 35px;">We Serve Best</h5>
			</div>
		</div>
		
		<app-services></app-services>
		
	</div>
</section>

<section class="">
	<div class="container">
		<div class="row" style="margin-top :50px;text-align: center; ">
			<div class="col-md-12 center" >
				<h1 class="dashboard-heading">Contact Details</h1> 
				<h5>We are here to help You</h5>
			</div>
		</div>
	</div>
	<app-contact-form></app-contact-form>
</section>